<body style="background-color: rgb(253, 151, 151)">
  <span
    style="
      margin-top: 10vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <script>
      const redirect = () => {
        window.location.replace("<%- redirectUri %>");
      };
    </script>
    <h1>Site client 1</h1>
    <button
      onclick="javascript:redirect()"
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius: 10px;
        background-color: #9355f7;
        border: none;
        color: white;
        font-family: Arial;
        font-size: 15px;
        font-weight: 700;
      "
    >
      <svg
        style="height: 20px; margin-right: 5px"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Calque_1"
        data-name="Calque 1"
        viewBox="0 0 600 600"
      >
        <defs>
          <style>
            .cls-1 {
              fill: url(#Dégradé_sans_nom_3);
            }
            .cls-2 {
              fill: url(#Dégradé_sans_nom_262);
            }
            .cls-3 {
              fill: none;
            }
            .cls-4 {
              fill: url(#Dégradé_sans_nom_60);
            }
            .cls-5 {
              fill: url(#Dégradé_sans_nom_291);
            }
            .cls-6 {
              fill: url(#Dégradé_sans_nom_60-2);
            }
            .cls-7 {
              fill: url(#Dégradé_sans_nom_292);
            }
            .cls-8 {
              fill: url(#Dégradé_sans_nom_2);
            }
          </style>
          <linearGradient
            id="D&#xE9;grad&#xE9;_sans_nom_3"
            x1="58"
            y1="359.57"
            x2="542"
            y2="359.57"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#4562ff"></stop>
            <stop offset="1" stop-color="#5affff"></stop>
          </linearGradient>
          <linearGradient
            id="D&#xE9;grad&#xE9;_sans_nom_262"
            x1="58"
            y1="359.06"
            x2="542"
            y2="359.06"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#5affff"></stop>
            <stop offset="1" stop-color="#4562ff"></stop>
          </linearGradient>
          <linearGradient
            id="D&#xE9;grad&#xE9;_sans_nom_60"
            x1="937.32"
            y1="150.64"
            x2="939.16"
            y2="232.17"
            gradientTransform="translate(-566.27 90.95) rotate(-10.17)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#5affff"></stop>
            <stop offset="1" stop-color="#4562ff" stop-opacity="0.8"></stop>
          </linearGradient>
          <linearGradient
            id="D&#xE9;grad&#xE9;_sans_nom_291"
            x1="921.45"
            y1="192.9"
            x2="911.39"
            y2="201.36"
            gradientTransform="translate(-566.27 90.95) rotate(-10.17)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#fff" stop-opacity="0"></stop>
            <stop offset="1" stop-color="#fff" stop-opacity="0.6"></stop>
          </linearGradient>
          <linearGradient
            id="D&#xE9;grad&#xE9;_sans_nom_60-2"
            x1="843.99"
            y1="253.28"
            x2="845.47"
            y2="305.56"
            xlink:href="#D&#xE9;grad&#xE9;_sans_nom_60"
          ></linearGradient>
          <linearGradient
            id="D&#xE9;grad&#xE9;_sans_nom_292"
            x1="834.11"
            y1="280.36"
            x2="830.18"
            y2="284.29"
            xlink:href="#D&#xE9;grad&#xE9;_sans_nom_291"
          ></linearGradient>
          <linearGradient
            id="D&#xE9;grad&#xE9;_sans_nom_2"
            x1="213.95"
            y1="409.44"
            x2="162.03"
            y2="479.81"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#fff" stop-opacity="0"></stop>
            <stop offset="1" stop-color="#fff" stop-opacity="0.5"></stop>
          </linearGradient>
        </defs>
        <path
          class="cls-1"
          d="M542,290.88c0,.32-.13.07-.13.07s-.22,9.38-.54,14v0a244.1,244.1,0,0,1-3.82,29.14c-.29,1.59-.6,3.18-1,4.74s-.67,3.15-1.06,4.71q-.66,2.87-1.43,5.69c-.48,1.91-1,3.79-1.56,5.66a7.12,7.12,0,0,1-.28,1c-1.66,5.66-3.54,11.3-5.64,16.86-.76,2.07-1.59,4.14-2.42,6.21-1.66,4.1-3.47,8.17-5.38,12.25-1,2.16-2.1,4.32-3.19,6.45-1.87,3.69-3.82,7.32-5.89,10.88L507.14,413a2.23,2.23,0,0,1-.2.32C506,414.83,505,416.42,504,418c-1.17,1.81-2.35,3.6-3.56,5.38a241.5,241.5,0,0,1-28.56,34.71c-.86.86-1.69,1.68-2.55,2.51L467.91,462c-1.05.95-2.1,1.94-3.15,2.93-.55.47-1.05,1-1.6,1.46-.73.64-1.46,1.3-2.22,1.94q-5.12,4.53-10.51,8.78c-1.72,1.34-3.44,2.67-5.22,4-1.37,1-2.77,2-4.17,3-.77.51-1.5,1-2.23,1.53-1.34.95-2.71,1.88-4.08,2.8a3,3,0,0,1-.41.25,3.24,3.24,0,0,1-.54.35c-1.63,1.08-3.28,2.17-4.94,3.18s-3.37,2.1-5.09,3.09c-.32.22-.67.41-1,.6-1.72,1-3.5,2-5.29,3l0,0c-1.27.76-2.58,1.43-3.85,2.1-.54.28-1,.54-1.53.79a9.55,9.55,0,0,1-.95.51c-.9.48-1.82.95-2.74,1.4s-1.75.86-2.65,1.3-1.78.86-2.67,1.24a3,3,0,0,0-.32.2c-1.24.54-2.45,1.11-3.69,1.65s-2.33,1-3.47,1.5c-1.56.66-3.12,1.36-4.65,2-1,.41-2,.82-3.06,1.21a1.46,1.46,0,0,1-.41.16c-2.07.79-4.14,1.59-6.21,2.32-1.08.35-2.1.73-3.15,1.08l-3.19,1c-2.1.7-4.23,1.37-6.4,2-3.18,1-6.43,1.85-9.68,2.64-6.24,1.59-12.51,2.9-18.88,3.95-1.46.25-2.93.51-4.45.7a1.37,1.37,0,0,0-.32.06c-1.56.22-3.12.41-4.75.64-1.21.16-2.42.28-3.63.44l-2.73.29c-4.62.48-9.24.79-13.92,1-1.21,0-2.45.09-3.72.12-3.76.13-7.55.13-11.34,0-1.46,0-2.93-.06-4.39-.12-1.66,0-3.35-.13-5-.23-1.91-.09-3.82-.22-5.74-.41-1.24-.09-2.51-.19-3.75-.32-1.91-.19-3.85-.38-5.77-.63-7.57-.89-15.06-2.13-22.38-3.73l-2.13-.47q-9.55-2.25-19-5.28c-1.88-.58-3.69-1.21-5.51-1.85-1.18-.41-2.39-.83-3.56-1.27-1.82-.64-3.6-1.31-5.39-2-1.56-.6-3.15-1.21-4.68-1.88-1.33-.54-2.67-1.11-4-1.68q-5.25-2.3-10.31-4.77c-1.12-.58-2.23-1.15-3.35-1.69q-6.21-3.19-12.19-6.68l-2.36-1.4-3.15-1.91c-1.37-.89-2.71-1.72-4-2.58-.07-.09-.2-.12-.26-.19-1.3-.79-2.51-1.65-3.76-2.48-5.35-3.63-10.5-7.41-15.5-11.45-2.65-2.1-5.19-4.23-7.71-6.46-1.72-1.46-3.37-3-5-4.42-.79-.77-1.62-1.53-2.42-2.29s-1.62-1.56-2.42-2.33c-1.59-1.52-3.15-3.11-4.71-4.7a.75.75,0,0,1-.29-.32c-.76-.77-1.52-1.53-2.26-2.36-1.14-1.21-2.29-2.45-3.4-3.72-.86-.92-1.72-1.84-2.55-2.8l-2.64-3.05a2.26,2.26,0,0,0-.26-.29l-1.88-2.26c-.63-.76-1.27-1.52-1.84-2.29s-1.31-1.62-1.94-2.42a5.2,5.2,0,0,1-.64-.86l-1-1.33c-.89-1.18-1.79-2.32-2.64-3.53h0c-1.21-1.66-2.38-3.28-3.53-4.93l-.67-1c-1.11-1.62-2.26-3.28-3.31-4.93s-2.17-3.28-3.19-4.93c-.09-.16-.22-.35-.35-.57s-.15-.26-.25-.39c-.86-1.4-1.69-2.83-2.55-4.26-.44-.76-.92-1.53-1.37-2.32-.86-1.5-1.68-3-2.51-4.52-1-1.91-2.1-3.85-3.09-5.76-2.1-4.1-4-8.21-5.89-12.37-.41-.89-.83-1.82-1.21-2.71-.29-.63-.54-1.33-.83-2-.57-1.34-1.11-2.67-1.65-4-.26-.6-.48-1.24-.74-1.84-.41-1.12-.86-2.23-1.27-3.34a245.54,245.54,0,0,1-10-35.6c-.35-1.75-.67-3.47-1-5.22-.67-3.47-1.17-6.94-1.62-10.47-.13-.76-.22-1.52-.29-2.29s-.22-1.75-.35-2.64-.19-1.78-.25-2.67c-.13-1.05-.22-2.13-.32-3.18v0c-.13-1.21-.22-2.42-.29-3.63V305c-.09-1.12-.16-2.23-.22-3.38s-.1-2.22-.13-3.37a1.76,1.76,0,0,1,0-.41c0-.48-.06-1-.06-1.5,0-.7-.07-1.43-.07-2.16,0-.89,0-1.81,0-2.71,0-.22,0-.41,0-.6v-3.18c0-1.53,0-3.09,0-4.58v-.26c0-1.78.1-3.56.16-5.31a11.23,11.23,0,0,1,.1-1.53v-.47a5.08,5.08,0,0,0,0-.67c.09-.83.13-1.69.16-2.52,0-.54.06-1.08.09-1.59s.07-1.08.1-1.62c.35-4.23.76-8.43,1.34-12.66q.38-3,.86-6c.31-2.1.66-4.17,1.05-6.24a242.39,242.39,0,0,1,16.9-54.34l.07.1.44.63,1.18,1.85L82,194.83C146.48,292,204.11,318.94,249,321.77a146.61,146.61,0,0,0,44.54-4.32c18.18-4.43,35.69-11.55,53.36-19.09a2,2,0,0,0,.51-.22c11.21-4.78,22.45-9.68,33.95-14.13,2.1-.83,4.23-1.62,6.33-2.42,2.45-.89,4.9-1.78,7.36-2.61,1.43-.51,2.86-1,4.29-1.46.42-.13.9-.29,1.34-.45,5.26-1.68,10.57-3.21,15.95-4.51,2-.51,4.08-1,6.15-1.43.67-.16,1.34-.29,2-.42.92-.16,1.87-.38,2.8-.54A162.26,162.26,0,0,1,477,268.36a158.52,158.52,0,0,1,18.73,3.37q7.26,1.77,14.07,4c1.5.51,3,1.05,4.49,1.56,2.93,1.08,5.86,2.19,8.69,3.43,1,.39,1.91.8,2.84,1.21l4.17,1.91C534.07,285.79,538.18,288.69,542,290.88Z"
        ></path>
        <path
          class="cls-2"
          d="M542,290.88c-.06,4.58-.22,9.2-.57,13.81,0,.35,0,.7-.07,1.05-.09,1.43-.22,2.89-.38,4.33a8.48,8.48,0,0,1-.06.86c-.16,1.84-.35,3.65-.58,5.5q-.47,3.92-1.05,7.83c-.51,3.27-1.08,6.58-1.78,9.86-.13.95-.35,1.94-.54,2.89a2.3,2.3,0,0,1-.1.51c-.09.45-.19.89-.31,1.34-.32,1.56-.67,3.15-1.06,4.71q-.66,2.87-1.43,5.69c-.48,1.91-1,3.79-1.56,5.66a7.12,7.12,0,0,1-.28,1c-1.66,5.66-3.54,11.3-5.64,16.86-.76,2.07-1.59,4.14-2.42,6.21-1.66,4.1-3.47,8.17-5.38,12.25-1,2.16-2.1,4.32-3.19,6.45-1.87,3.69-3.82,7.32-5.89,10.88L507.14,413a2.23,2.23,0,0,1-.2.32C506,414.83,505,416.42,504,418c-1.17,1.81-2.35,3.6-3.56,5.38A241.51,241.51,0,0,1,354.08,523.51l-.57.16c-.51.09-1,.19-1.53.32-1.27.28-2.52.57-3.79.82-2.07.42-4.11.8-6.15,1.18l-5.63,1c-.32,0-.64.09-1,.12l-5.41.77a3.32,3.32,0,0,0-.57.06c-.07,0-.13,0-.13,0-.57,0-1.12.13-1.66.19-.86.1-1.72.16-2.54.26l-2.93.28c-1.28.13-2.55.23-3.86.35a2.37,2.37,0,0,0-.51,0c-2,.15-4.1.28-6.17.41-1.28.06-2.55.13-3.86.16l-3.91.09c-1.28,0-2.58,0-3.85,0h-.2c-4,0-8-.13-12-.35A238.9,238.9,0,0,1,248,523.76l-2.13-.47q-9.55-2.25-19-5.28c-1.88-.58-3.69-1.21-5.51-1.85-1.18-.41-2.39-.83-3.56-1.27-1.82-.64-3.6-1.31-5.39-2-1.56-.6-3.15-1.21-4.68-1.88-1.33-.54-2.67-1.11-4-1.68q-5.25-2.3-10.31-4.77c-1.12-.58-2.23-1.15-3.35-1.69q-6.21-3.19-12.19-6.68l-2.36-1.4-3.15-1.91c-1.37-.89-2.71-1.72-4-2.58-.07-.09-.2-.12-.26-.19-1.3-.79-2.51-1.65-3.76-2.48-5.35-3.63-10.5-7.41-15.5-11.45-2.65-2.1-5.19-4.23-7.71-6.46-1.72-1.46-3.37-3-5-4.42-.79-.77-1.62-1.53-2.42-2.29s-1.62-1.56-2.42-2.33c-1.59-1.52-3.15-3.11-4.71-4.7a.75.75,0,0,1-.29-.32c-.76-.77-1.52-1.53-2.26-2.36-1.14-1.21-2.29-2.45-3.4-3.72-.86-.92-1.72-1.84-2.55-2.8l-2.64-3.05a2.26,2.26,0,0,0-.26-.29l-1.88-2.26c-.63-.76-1.27-1.52-1.84-2.29s-1.31-1.62-1.94-2.42a5.2,5.2,0,0,1-.64-.86l-1-1.33c-.89-1.18-1.79-2.32-2.64-3.53h0c-1.21-1.66-2.38-3.28-3.53-4.93l-.67-1c-1.11-1.62-2.26-3.28-3.31-4.93s-2.17-3.28-3.19-4.93c-.09-.16-.22-.35-.35-.57s-.15-.26-.25-.39c-.86-1.4-1.69-2.83-2.55-4.26-.44-.76-.92-1.53-1.37-2.32-.86-1.5-1.68-3-2.51-4.52-1-1.91-2.1-3.85-3.09-5.76-2.1-4.1-4-8.21-5.89-12.37-.41-.89-.83-1.82-1.21-2.71-.29-.63-.54-1.33-.83-2-.57-1.34-1.11-2.67-1.65-4-.26-.6-.48-1.24-.74-1.84-.41-1.12-.86-2.23-1.27-3.34a245.54,245.54,0,0,1-10-35.6c-.35-1.75-.67-3.47-1-5.22-.6-3.47-1.17-7-1.62-10.47-.13-.76-.22-1.52-.29-2.29s-.22-1.75-.35-2.64-.19-1.78-.25-2.67c-.13-1.05-.22-2.13-.32-3.18v0c-.13-1.21-.22-2.42-.29-3.63V305c-.16-2.23-.28-4.49-.35-6.75s-.16-4.52-.19-6.78c0-.22,0-.41,0-.6v-3.18c0-1.53,0-3.09,0-4.58v-.26c0-1.78.1-3.56.16-5.31l.1-2a5.08,5.08,0,0,0,0-.67c.06-1.37.13-2.74.25-4.11,0-.54.07-1.08.1-1.62.35-4.23.76-8.43,1.34-12.66q.38-3,.86-6c.31-2.1.66-4.17,1.05-6.24a242.39,242.39,0,0,1,16.9-54.34l.39-.86c4.42-.38,8.91-.6,13.43-.63H97.2c1,0,2,0,3.08.06,3.12.06,6.24.25,9.36.51,1.56.16,3.12.32,4.75.44q7.11.81,14.42,2.23a159.43,159.43,0,0,1,62.6,27c.8.54,1.59,1.12,2.36,1.66.54.41,1.08.79,1.65,1.2,1.66,1.28,3.34,2.55,5,3.85,4.36,3.44,8.53,7.07,12.61,10.79.35.29.7.64,1.05.92,1.11,1,2.19,2.07,3.28,3.12,1.88,1.78,3.75,3.63,5.57,5.44,1.62,1.62,3.22,3.21,4.78,4.87,8.56,8.81,16.74,18,24.93,27a4.62,4.62,0,0,0,.38.41c12.89,14.19,25.85,28,40.53,39.58a146.72,146.72,0,0,0,38.69,22.49c42,16.13,105.58,15.65,204.73-45.78l4.2-2.74.73-.47Z"
        ></path>
        <line
          class="cls-3"
          x1="250.11"
          y1="266.03"
          x2="249.66"
          y2="266.32"
        ></line>
        <ellipse
          class="cls-4"
          cx="388.58"
          cy="101.61"
          rx="31.63"
          ry="31.6"
        ></ellipse>
        <path
          class="cls-5"
          d="M416.86,115.53A31.62,31.62,0,1,1,365.6,79.82a31,31,0,0,0-3,17.43,31.62,31.62,0,0,0,54.28,18.28Z"
        ></path>
        <ellipse
          class="cls-6"
          cx="312.61"
          cy="207.6"
          rx="20.1"
          ry="20.09"
        ></ellipse>
        <path
          class="cls-7"
          d="M330.68,216.4a20.1,20.1,0,1,1-32.58-22.7,19.69,19.69,0,0,0-1.93,11.08,20.1,20.1,0,0,0,34.51,11.62Z"
        ></path>
        <path
          class="cls-8"
          d="M541.43,304.69c0,.35,0,.7-.07,1.05-.09,1.43-.22,2.89-.38,4.33a8.48,8.48,0,0,1-.06.86c-.16,1.84-.35,3.65-.58,5.5q-.47,3.92-1.05,7.83c-.63,4.26-1.4,8.52-2.32,12.75a2.3,2.3,0,0,1-.1.51l-.09.51c-.42,1.91-.83,3.79-1.28,5.63a1.58,1.58,0,0,1-.12.54c-.35,1.63-.77,3.22-1.18,4.81-.48,1.78-1,3.53-1.43,5.31-1.21,4.17-2.52,8.34-3.95,12.47-1.24,3.66-2.61,7.26-4.08,10.88-.25.73-.54,1.43-.86,2.17-1.62,3.88-3.31,7.76-5.12,11.61-1.09,2.29-2.2,4.55-3.35,6.81-1,2-2.07,4-3.15,6s-2.32,4.1-3.5,6.14a.22.22,0,0,1-.1.19c-.79,1.4-1.65,2.77-2.51,4.17-.67,1.11-1.34,2.19-2,3.27a7.37,7.37,0,0,1-.54.86c-.89,1.4-1.78,2.77-2.71,4.11-1.11,1.62-2.19,3.27-3.34,4.86a241.54,241.54,0,0,1-143.44,95.92c-.19.07-.38.07-.57.13-.51.1-1.05.22-1.53.35l-3.82.8c-2,.41-4.08.82-6.15,1.17l-5.6,1c-.35.06-.67.09-1,.13-1.78.25-3.6.54-5.41.76a3.68,3.68,0,0,1-.58.06c-.06,0-.09,0-.12,0l-1.66.2c-.83.09-1.72.19-2.55.25s-1.94.22-2.89.29c-1.31.12-2.58.25-3.86.35l-.54.06c-2,.16-4.07.29-6.14.38-1.31.07-2.58.13-3.89.16s-2.61.06-3.91.1-2.58.06-3.86.06h-.19c-4,0-8-.13-12-.38-13.12-.73-28.78-3.37-41.93-6.33-6.75-1.53-6-1.31,0,0q-9.55-2.25-19-5.28c-1.88-.58-3.69-1.21-5.51-1.85-1.18-.41-2.39-.83-3.56-1.27-1.82-.64-3.6-1.31-5.39-2-1.56-.6-3.15-1.21-4.68-1.88-1.33-.54-2.67-1.11-4-1.68q-5.25-2.3-10.31-4.77c-1.12-.58-2.23-1.15-3.35-1.69q-6.21-3.19-12.19-6.68l-2.36-1.4-3.15-1.91c-1.37-.89-2.71-1.72-4-2.58-.07-.09-.2-.12-.26-.19-1.3-.79-2.51-1.65-3.76-2.48-5.35-3.63-10.5-7.41-15.5-11.45-2.65-2.1-5.19-4.23-7.71-6.46-1.72-1.46-3.37-3-5-4.42-.79-.77-1.62-1.53-2.42-2.29s-1.62-1.56-2.42-2.33c-1.59-1.52-3.15-3.11-4.71-4.7a.75.75,0,0,1-.29-.32c-.76-.77-1.52-1.53-2.26-2.36-1.14-1.21-2.29-2.45-3.4-3.72-.86-.92-1.72-1.84-2.55-2.8l-2.64-3.05a2.26,2.26,0,0,0-.26-.29l-1.88-2.26c-.63-.76-1.27-1.52-1.84-2.29s-1.31-1.62-1.94-2.42a5.2,5.2,0,0,1-.64-.86l-1-1.33c-.89-1.18-1.79-2.32-2.64-3.53h0c-1.21-1.66-2.38-3.28-3.53-4.93l-.67-1c-1.11-1.62-2.26-3.28-3.31-4.93s-2.17-3.28-3.19-4.93c-.09-.16-.22-.35-.35-.57s-.15-.26-.25-.39c-.86-1.4-1.69-2.83-2.55-4.26-.44-.76-.92-1.53-1.37-2.32-.86-1.5-1.68-3-2.51-4.52-1-1.91-2.1-3.85-3.09-5.76-2.1-4.1-4-8.21-5.89-12.37-.41-.89-.83-1.82-1.21-2.71-.29-.63-.54-1.33-.83-2-.57-1.34-1.11-2.67-1.65-4-.26-.6-.48-1.24-.74-1.84-.41-1.12-.86-2.23-1.27-3.34a245.73,245.73,0,0,1-8-26.46c.2.82.35,1.65.55,2.47-1.5-5.82-2.77-11.74-3.79-17.69-.38-2.39-.8-4.77-1.11-7.19-.13-.83-.26-1.65-.35-2.45-.23-1.59-.39-3.15-.58-4.74v-.16c-.22-1.94-.44-3.88-.57-5.85v0c-.13-1.21-.22-2.42-.29-3.63V305c-.09-1.12-.16-2.23-.22-3.38,0-.25,0-.54-.06-.82,0-1-.1-2-.1-3,0-.48-.06-1-.06-1.5,0-.7-.07-1.43-.07-2.16s-.06-1.24-.06-1.88v-4.61c0-1.53,0-3.09,0-4.58v-.26c.07-1.08.1-2.19.13-3.27s.09-2.39.13-3.57v-.47a5.08,5.08,0,0,0,0-.67c.09-.83.13-1.69.16-2.52,0-.5.09-1,.12-1.52q.3-4.31.74-8.5c.22-2,.44-4.07.73-6.07.51-4,1.18-8.05,1.91-12.09.32-1.75.67-3.5,1.05-5.28a6.52,6.52,0,0,1,.16-.74,241.58,241.58,0,0,1,15.63-48,.25.25,0,0,1,.07-.12c.09-.23.22-.45.32-.7.47-.07.92-.1,1.43-.13-.07,1.11-.13,2.19-.13,3.31v.22c-.22,4.74-.25,9.48-.16,14.29,2.74,133.52,113.29,239.53,246.89,236.79A242.06,242.06,0,0,0,541.33,305v0A.6.6,0,0,0,541.43,304.69Z"
        ></path>
      </svg>
      Se connecter avec Potions
    </button>
  </span>
</body>
