<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Infos</title>
  </head>
  <body>
    <div
      style="
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <h1>Site client 2 connecté</h1>
      <p
        style="
          padding: 60px;
          background-color: rgb(151, 216, 253);
          border-radius: 20px;
          width: fit-content;
        "
      >
        Bonjour, votre email est <%- email %>
      </p>
      <p>Les informations suivantes n'ont pas pu être récuperées</p>
      <ul>
        <li>Nom : <%- nom %></li>
        <li>Prenom : <%- prenom %></li>
      </ul>
      <button onclick="window.location.href = '/disconnect'">
        Se déconnecter
      </button>
    </div>
  </body>
</html>
